<div class="demo">
  <div class="container">
    <h3 class="h3 mt-5 text-center mb-5">SENASTE SKOR</h3>
    <div class="row">
      <div class="col-md-12">
        <div id="news-slider2" class="owl-carousel">
          <div class="post-slide2">
            <div class="post-img">
              <img src="../../assets/silders/revolt-164_6wVEHfI-unsplash.jpg" class="card-img-top" alt="..." />
            </div>
            <div class="post-content">
              <h3 class="post-title"><a href="#">Latest News Post</a></h3>
              <p class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula
                gravida dolor, ac efficitur sem sagittis.
              </p>
              <!-- <ul class="post-bar">
                <button class="read-more">read more &raquo;</button>
              </ul> -->

            </div>
          </div>

          <div class="post-slide2">
            <div class="post-img">
              <img src="../../assets/silders/chucks-153310_1280.png" class="card-img-top" alt="..." />
            </div>
            <div class="post-content">
              <h3 class="post-title"><a href="#">Latest News Post</a></h3>
              <p class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula
                gravida dolor, ac efficitur sem sagittis.
              </p>
              <!-- <ul class="post-bar">
                <button class="read-more">read more &raquo;</button>
              </ul> -->
            </div>
          </div>

          <div class="post-slide2">
            <div class="post-img">
              <img src="../../assets/silders/shoes-1897708_1920.jpg" class="card-img-top" alt="..." />
            </div>
            <div class="post-content">
              <h3 class="post-title"><a href="#">Latest News Post</a></h3>
              <p class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula
                gravida dolor, ac efficitur sem sagittis.
              </p>
              <!-- <ul class="post-bar">
                <button class="read-more">read more &raquo;</button>
              </ul> -->
            </div>
          </div>

          <div class="post-slide2">
            <div class="post-img">
              <img src="../../assets/silders/maksim-larin-NOpsC3nWTzY-unsplash.jpg" class="card-img-top"
                alt="..." />
            </div>
            <div class="post-content">
              <h3 class="post-title"><a href="#">Latest News Post</a></h3>
              <p class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula
                gravida dolor, ac efficitur sem sagittis.
              </p>

              <!-- <ul class="post-bar">
                <button class="read-more">read more &raquo;</button>
              </ul> -->
            </div>
          </div>

          <div class="post-slide2">
            <div class="post-img">
              <img src="../../assets/silders/wengang-zhai-_fOL6ebfECQ-unsplash.jpg" class="card-img-top" alt="..." />
            </div>
            <div class="post-content">
              <h3 class="post-title"><a href="#">Latest News Post</a></h3>
              <p class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula
                gravida dolor, ac efficitur sem sagittis.
              </p>

              <!-- <ul class="post-bar">
                <button class="read-more">read more &raquo;</button>
              </ul> -->
            </div>
          </div>

          <div class="post-slide2">
            <div class="post-img">
              <img src="../../assets/silders/person-holding-nike-sb-suede-low-top-sneaker-1503009.jpg" class="card-img-top" alt="..." />
            </div>
            <div class="post-content">
              <h3 class="post-title"><a href="#">Latest News Post</a></h3>
              <p class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula
                gravida dolor, ac efficitur sem sagittis.
              </p>

              <!-- <ul class="post-bar">
                <button class="read-more">read more &raquo;</button>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

