<div class="container ">
  <h3 class="h2 m-5 text-center">POPULAR</h3>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2">
          <a href="#">
            <img class="pic-1" src="../../assets/photo-of-pair-of-vans-sneakers-1598508.jpg">

          </a>
          <a class="add-to-cart" href="">Add to cart</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Nike Revolution</a></h3>
          <span class="price">$599</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2">
          <a href="#">
            <img class="pic-1" src="../../assets/blur-close-up-depth-of-field-fashion-1478442.jpg">

          </a>
          <a class="add-to-cart" href="">Add to cart</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Nike Tensaur</a></h3>
          <span class="price">$999</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2">
          <a routerLink="/product-info">
            <img class="pic-1" src="../../assets/fashion-shoes-footwear-19090.jpg">
          </a>
          
          <a class="add-to-cart" href="">Add to cart</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a routerLink="/product-info">Nike Air Max</a></h3>
          <span class="price">$1099</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2">
          <a href="#">
            <img class="pic-1" src="../../assets/pair-of-black-and-gray-adidas-low-top-sneakers-with-box-684152.jpg">
          </a>
          <a class="add-to-cart" href="">Add to cart</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Baseline CMF</a></h3>
          <span class="price">$499</span>
        </div>
      </div>
    </div>
  </div>

</div>